@import url(https://fonts.googleapis.com/css?family=PT+Serif);

body {
     margin:30px auto;
     max-width:800px;
     line-height:1.6;
     font-size:18px;
     font-weight: 200;
     font-family: PT Serif; 
     color:#444;
     padding:10px
     }

h1{
  font-weight: 300;
  font-size: 2.5em;
  text-transform: uppercase;
  font-family: Lato;
  line-height: 1.6em;
  letter-spacing: .1em;
  text-align: center;
}

img {
  width: 650px; 
}
